* {
	box-sizing: border-box;
	text-align: center;
}

body {
	width: 960px;
	background-image: url("../images/bgsmall.png")
}


ul {
    list-style-type: none; 
    max-width: auto; 
}

li {
	display: inline-block;
	float: right;
	padding: 10px;
	background-color: green;
}
li a {
	text-decoration: none;

}

.header {
	background-color: #ffffff;
	padding: 10px;
	 overflow: hidden;
}

#logo {
	float: left;
}

