* {
	box-sizing: border-box;
	text-align: center;
}
 #main {
	max-width: 960px;
	margin: 20px auto;
	overflow: hidden;
	background-color: blue; 
}

body {
	background-image: url("../images/bgsmall.png")
		color: #cccccc;
}
.header {
	background-color: #ffffff;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: 2px solid;
	border-color: #cccccc;
	color: #cccccc;
}
	

ul {
  list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	max-width: 960px;	
}

li {
	display: inline-block;
	float: right;
	padding: 20px 10px; 
  border-right: 1px solid #cccccc;
	font-family: "Times New Roman", Georgia, Times, Serif; 
}

li a {
	font: 25px;
}

li:nth-child (1) {
    border-right: none;
}

a:link {
	text-decoration: none;
	
	
}

.logo {
	float: left;
	padding: 20px;
	background-color: #4aaaa5;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}
