* {
	box-sizing: border-box;
	text-align: center;
}

 #main {
	max-width: 960px;
	margin: 20px auto;
	overflow: hidden;
	background-color: grey; 
	color: red;
}

body {
	background-image: url("../images/bgsmall.png");
	color: green;
}


.header {
	color: green;
	background-color: #ffffff;
	margin-top: 0;
	border-bottom: 3px solid #cccccc;
}
.logo:after {
	content:"";
	display: block;
	clear: both;
}
	

ul {
  list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
	max-width: 960px;
}

li {
	display: block;
	float: right;
	padding: 27px 5px 0 5px; 
	font-family: "Times New Roman", Georgia, Times, Serif; 
} 


li:last-child {
	float:left;
	padding: 30px 20px;
	background-color: #4aaaa5;
	font-weight: bolder;
}

a:link {
	text-decoration: none;
	
	color: green;	
}

a {
	font: 20px aerial, sans-serif;
	color: #cccccc; 
}

